.css-selector {
  font-family: 'Source Sans Pro', sans-serif;
}
p {
    margin-top: 40vh;
font-size: 180%;
font-weight: bold;
font-family:Source Sans Pro;
text-align:center;
color:white;
}
