html {
  font-family: 'Source Sans Pro', sans-serif;
}
body{
  background-color: #002938;
  margin: 0;
    padding: 0;
    width: 100%; /* full window width */
    text-align: center;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 800px;
  margin-top: 12px;
  position: relative;
  top: 1.8vh;
  font-size: 1.4vw;
}

.hw {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  padding-bottom: 12.5vh;
}
.hw {

  position: relative;
  top: 4vh;
}
.links a {
  font-size: 2em;
  color: pink;
  width: 20px;
  z-index: 9999;
  margin: 0 auto;
}
.home-arrow-down:focus {
  cursor: 0;
}
.home-arrow-down {
  cursor: pointer;
  animation: arrow-down 2.5s infinite;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: none;
  border: none;
  position: relative;
  outline: none;
  top: 36vh;
  z-index: 1;
  height: 10px;
  width: 10px;
}

.down-arrow{
  font-size: 4vh;
  color: pink;
}

@keyframes arrow-down {
  0%,100%,20% {
    transform: translateY(0)
}

40% {
    transform: translateY(-20px)
}
50% {
    transform: translateY(0px)
}
60% {
    transform: translateY(-16px)
}
70% {
  transform: translateY(0px)
}
80% {
    transform: translateY(-10px)
}
}
.center {
  font-size: 2vw;
  width: 50%;
    margin: 40vh auto 0 auto;
    text-align: center;
      
  }
  
  .center p{
    display: inline-block;
    font-size: 3vw;
    font-weight: bold;
    color:white;
  }
.center:hover .neato{
  opacity: 1;
}

.neato{
  color: pink !important;
  transition: opacity 0.5s;
  opacity: 0;
  margin: 0 5px;
}
